.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.alert-floating {
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 5000;
}