{% extends "layout.jinja2" %}
{% block title %}{{ page_title }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    {% macro form_field(field, label_col, offset=0) %}
        {% if not field.widget.hidden %}
            <div
            {% if field.error %}
              class="has-error"
            {% endif %}
            id="item-{{field.oid}}">
        {% endif %}
            {% if not field.widget.hidden%}
              <label class="col-md-{{ label_col }} col-md-offset-{{ offset }} control-label"

                {% if field.description %}
                  title="{{field.description}}"
                {% endif %}
                for="{{field.oid}}">

                {{field.title}}
                {% if field.required %}
                    *
                {% endif %}
                </label>
            {% endif %}
            <div class="col-md-3">
              {{ field.serialize() | safe }}
                {% if field.error and not field.widget.hidden %}
                {% for msg in field.error.messages() %}
                    {% set errstr = 'error-%s' % field.oid %}
                    {% set pid = (loop.index0==0 and errstr) or ('%s-%s' % (errstr, loop.index0)) %}
                    <span id="{{pid}}" class="help-block">{{msg}}</span>
                {% endfor %}
              {% endif%}
            </div>
        {% if not field.widget.hidden %}
            </div>
        {% endif %}
    {% endmacro %}

    <h3>{{ page_title }}</h3>

    <form
        id="{{receipt_new_form.formid}}"
        action="{{receipt_new_form.action}}"
        method="{{receipt_new_form.method}}"
        enctype="multipart/form-data"
        accept-charset="utf-8"
        >
            <div class="row .mb-1">
                {{ form_field(receipt_new_form['client_id'], 2) }}

                {{ form_field(receipt_new_form['base_amount'], 1, 1) }}
            </div>
            <div class="row .mb-1">
                {{ form_field(receipt_new_form['number'], 2) }}

                {{ form_field(receipt_new_form['tax_amount'], 1, 1) }}
            </div>

            <div class="row .mb-1">
                {{ form_field(receipt_new_form['issued_date'], 2) }}

                {{ form_field(receipt_new_form['return_amount'], 1, 1) }}
            </div>

            <div class="row .mb-1">
                {{ form_field(receipt_new_form['currency_date'], 2) }}

                {{ form_field(receipt_new_form['total_amount'], 1, 1) }}
            </div>

            <div class="row .mb-1">
                {{ form_field(receipt_new_form['issued_time'], 2) }}
            </div>

            <div class="row .mb-1">
                {{ form_field(receipt_new_form['issued_location'], 2) }}
            </div>

            <div class="row .mb-1">
                {{ form_field(receipt_new_form['payment_type'], 2) }}
            </div>

            <div class="row .mb-1">
                {{ form_field(receipt_new_form['operator'], 2) }}
            </div>
            <div class="row .mb-1">
                {{ form_field(receipt_new_form['buyer_name'], 2) }}
            </div>

            <div class="row .mb-1" style="margin-top: 10px;">
            {{ receipt_new_form['receipt_items'].serialize() | safe }}
            </div>

            <div class="actions" style="margin-top: 20px">

            {% for button in receipt_new_form.buttons %}
                <button
                    id="{{receipt_new_form.formid+button.name}}"
                    name="{{button.name}}"
                    type="{{button.type}}"
                    class="btn {{ button.css_class }}"
                    value="{{ button.value }}"
                    {% if button.disabled %}
                    disabled="disabled"
                    {% endif %}
                    >
                <span>{{ button.title }}</span>
                </button>
            {% endfor %}
            </div>


        </form>


{% endblock %}
{% block footer %}
{{ super() }}
<script>
$(document).ready(function(){
    Decimal.set({ precision: 8, rounding: Decimal.ROUND_HALF_EVEN });


    function getSelectedItemData(selectedValue) {
        var itemDataList = {{ receipt_new_form.schema.bindings['item_data_list'] }};
        var itemData = null;
        $.each(itemDataList, function (index, listObject) {
            if (listObject['id'] == selectedValue) {
                itemData = listObject
            }
        });
        return itemData;
    }

    function initReceiptItemsSelect(){
        var receiptNewForm = $('#receipt-new-form');
        $(receiptNewForm).find('select[name="item_id"]').on('change', function (e) {
            var parentRow = $(this).closest('.deform-seq-item');
            var selectedValue = $(this).val();
            var itemData = getSelectedItemData(selectedValue);
            if (itemData){
                $(parentRow).find('[name="ean"]').val(itemData['ean']);
                $(parentRow).find('[name="measurement_unit"]').val(itemData['measurement_unit']);
                $(parentRow).find('[name="item_price"]').val(itemData['price']);
                calculateItemPriceSum(parentRow);
            }
        });
    }

    function initReceiptRowRemove(){
        $(receiptNewForm).find('.deform-close-button').off('click').on('click', function (e) {
            deform.removeSequenceItem($(this));
            calculateItemPriceSum($(this).closest('.deform-seq-item'));
        });
    }

    function calculateTotalSums(){
        var receiptForm = $('#receipt-new-form');
        var itemsSequence = $(receiptForm).find('.deform-seq');
        var taxPercent = {{ tax_percent }};
        var returnAmount = {{ return_amount }};
        var returnAmountTotal = 0;
        var baseAmount = new Decimal(0);
        var sequenceItem = $(itemsSequence).find('.deform-seq-item');
        for(var i=0; i < sequenceItem.length; i++){
            var itemPriceSum = $(sequenceItem[i]).find('input[name="item_price_sum"]').val();
            if($.isNumeric(itemPriceSum)){
                baseAmount = baseAmount.add(itemPriceSum);
                var quantity = $(sequenceItem[i]).find('input[name="quantity"]').val();
                returnAmountTotal = returnAmountTotal + (quantity * returnAmount);
            }
        };

        $(receiptForm).find('input[name="base_amount"]').val(baseAmount.toFixed(2));
        var taxAmount = baseAmount.times(new Decimal(taxPercent/100));
        $(receiptForm).find('input[name="tax_amount"]').val(taxAmount.toFixed(2));
        $(receiptForm).find('input[name="return_amount"]').val(returnAmountTotal);
        var totalAmount = baseAmount.add(taxAmount).add(returnAmountTotal);
        $(receiptForm).find('input[name="total_amount"]').val(totalAmount.toFixed(2));
    }

    function calculateItemPriceSum(itemRow) {
        var quantity = parseInt($(itemRow).find('input[name="quantity"]').val());
        var rebatePercent = parseFloat($(itemRow).find('input[name="rebate_percent"]').val());

        if (!$.isNumeric(quantity) || quantity < 0 || quantity > 9999) {
            return false
        }
        if (!$.isNumeric(rebatePercent) || rebatePercent < 0 || rebatePercent > 100) {
            return false
        }

        var selectedValue = $(itemRow).find('select[name="item_id"]').val();
        var itemData = getSelectedItemData(selectedValue);
        if (itemData) {
            var selectedItemPrice = new Decimal(itemData['price']);
            var itemPriceSum = selectedItemPrice.times(quantity);
            itemPriceSum = itemPriceSum.minus(itemPriceSum.times(rebatePercent/100));
            $(itemRow).find('input[name="item_price_sum"]').val(itemPriceSum.toFixed(2));
            calculateTotalSums();
        }
    }
    function initReceiptCalculator(){
        var receiptForm = $('#receipt-new-form');
        $(receiptForm).find('input[name="quantity"]').on('keyup', function (e) {
           calculateItemPriceSum($(this).closest('.deform-seq-item'));
        });
        $(receiptForm).find('input[name="rebate_percent"]').on('keyup', function (e) {
            calculateItemPriceSum($(this).closest('.deform-seq-item'));
        });
    }

    initReceiptItemsSelect();

    initReceiptCalculator();

    var receiptNewForm = $('#receipt-new-form');

    $(receiptNewForm).find('.deform-seq-add').off('click').on('click', function (e) {
        deform.appendSequenceItem($(this));
        initReceiptItemsSelect();
        initReceiptRowRemove();
        initReceiptCalculator();
    });

    initDatepicker($(receiptNewForm).find('input[name="issued_date"]'));
    initDatepicker($(receiptNewForm).find('input[name="currency_date"]'));

});


</script>
{% endblock %}
