{% extends "layout.jinja2" %}
{% block title %}{{ page_title }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ page_title }}</h3></div>
        <div class="col-lg-2">
            <h3>
                <a href="{{ url_for('.receipt_new') }}" class="btn btn-success">
                    Dodaj račun
                </a>
            </h3>
        </div>
    </div>
<div class="row">

    <div class="col-lg-12">
        <table id="dataTable" class="table row-border hover">
            <thead>
                <tr>
                    <th>Broj</th>
                    <th>Klijent</th>
                    <th>Datum izdavanja</th>
                    <th>Datum valute plaćanja</th>
                    <th>Broj artikala</th>
                    <th>Osnovica</th>
                    <th>PDV</th>
                    <th>Ukupno</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                {%- for receipt in receipt_list %}
                    <tr data-object-id="{{receipt.id}}">
                        <td data-th="Broj" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_number() }}
                        </td>
                        <td data-th="Klijent" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_client() }}
                        </td>
                        <td data-th="Datum izdavanja" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_issued_date() }}
                        </td>
                        <td data-th="Datum valute plaćanja" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_currency_date() }}
                        </td>
                        <td data-th="Broj artikala" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_receipt_item_quantity_total() }}
                        </td>
                        <td data-th="Osnovica" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_base_amount_formatted() }}
                        </td>
                        <td data-th="PDV" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_tax_amount_formatted() }}
                        </td>
                        <td data-th="Ukupno" style="overflow: hidden; text-overflow: ellipsis;">
                            {{ receipt.get_total_amount_formatted() }}
                        </td>
                        <td data-th="Akcije">
                            <a href="{{ url_for('.receipt_edit', receipt_id=receipt.id) }}" class="btn btn-default" data-toggle="modal" title="{{ 'Uredi' }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="{{ url_for('.receipt_export', receipt_id=receipt.id) }}" class="btn btn-default" data-toggle="modal" title="{{ 'Generiraj dokument' }}">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <button class="btn btn-default"
                                    data-toggle="tooltip"
                                    title="{{ 'Obriši' }}"
                                    onclick="toggleModal(this);"
                                    data-target="#confirm-action-modal"
                                    data-url="{{ url_for('.receipt_delete', receipt_id=receipt.id) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
{{ super() }}

<script type="text/javascript">
$(document).ready(function(){
    // datatable activation
    $('#dataTable').DataTable();
});


</script>
{% endblock %}
