{% set rndr = field.renderer %}
{% set tmpl = field.widget.item_template %}
{% set item_tmpl = field.widget.item_template %}
{% set min_len = field.widget.min_len or 0 %}
{% set max_len = field.widget.max_len or 100000 %}
{% set now_len = subfields|length %}
{% set prototype = field.widget.prototype(field) %}

<div class="deform-seq" id="{{ field.oid }}">
<!-- sequence -->
<input type="hidden" name="__start__" value="{{ field.name }}:sequence" class="deform-proto" prototype="{{ prototype }}" />

<div class="row">
    <div class="col-md-2">
        {{ 'Naziv' }}
    </div>
    <div class="col-md-2">
        {{ 'EAN' }}
    </div>
    <div class="col-md-1">
        {{ 'M.J.' }}
    </div>
    <div class="col-md-1">
        {{ 'Cijena' }}
    </div>
    <div class="col-md-1">
        {{ 'Količina' }}
    </div>
    <div class="col-md-1">
        {{ 'Rabat(%)' }}
    </div>
    <div class="col-md-1">
        {{ 'Iznos' }}
    </div>
</div>

{% for c, f in subfields %}
{{ rndr(item_tmpl, field=f, cstruct=c, parent=field, min_len=min_len, loop_index=loop.index) }}
{% endfor %}

<span class="deform-insert-before"
{% if min_len %}
 min_len="{{ min_len }}"
{% endif %}
{% if max_len %}
 max_len="{{ max_len }}"
{% endif %}
{% if now_len %}
 now_len="{{ now_len }}"
{% endif %}
></span>

<a href="#" class="deform-seq-add" id="{{ field.oid }}-seq-add">
<small id="{{ field.oid }}-addtext">{{ 'Dodaj red' }}</small>
</a>

<script type="text/javascript">
{#    function initReceiptItemsSelect(){#}
{#        var receiptForm = $('#receipt-new-form');#}
{#        var itemDataList = {{ field.schema.bindings['item_data_list'] }};#}
{#        $(receiptForm).find('select[name="item_id"]').on('change', function (e) {#}
{#            var parentRow = $(this).closest('.row');#}
{#            var selectedValue = $(this).val();#}
{#            $.each(itemDataList, function (index, item) {#}
{#                if (item['id'] == selectedValue) {#}
{#                    $(parentRow).find('[name="ean"]').val(item['ean']);#}
{#                    $(parentRow).find('[name="measurement_unit"]').val(item['measurement_unit']);#}
{#                    $(parentRow).find('[name="item_price"]').val(item['price_formatted']);#}
{#                }#}
{#            })#}
{##}
{##}
{#        });#}
{#    }#}

{#    initReceiptItemsSelect();#}




   deform.addCallback(
     '{{ field.oid }}',
     function(oid) {
       oid_node = $('#'+ oid);
       deform.processSequenceButtons(oid_node, {{ min_len }},
                                     {{ max_len }}, {{ now_len }});
     }
   )
</script>
<input type="hidden" name="__end__" value="{{ field.name }}:sequence"/>
<!-- /sequence -->
</div>
