{% if not field.widget.hidden %}
    <div
    {% if field.error %}
      class="has-error"
    {% endif %}
    id="item-{{field.oid}}">
{% endif %}
<!-- mapping_item -->

<div class="col-md-{% if field.name == 'item_id' or field.name == 'ean' %}2{% else %}1{% endif %}">
  {{field.serialize(cstruct)}}
    {% if field.error and not field.widget.hidden %}
    {% for msg in field.error.messages() %}
        {% set errstr = 'error-%s' % field.oid %}
        {% set pid = (loop.index0==0 and errstr) or ('%s-%s' % (errstr, loop.index0)) %}
        <span id="{{pid}}" class="help-block">{{_(msg)}}</span>
    {% endfor %}
  {% endif%}
</div>

  <!-- /mapping_item -->
{% if not field.widget.hidden %}
    </div>
{% endif %}
