{% if not field.widget.hidden %}
<div class="row">
{% endif %}
<!-- sequence_item -->
  {% if not field.widget.hidden %}
  <span class="deform-close-button" id="{{ field.oid }}-close" title="Remove" onclick="javascript:deform.removeSequenceItem(this);"></span>
  {% endif %}
  {{ field.serialize(cstruct) }}

  <!-- /sequence_item -->
{% if not field.widget.hidden %}
</div>
{% endif %}
