{% if not field.widget.hidden %}
<div class="row deform-seq-item .mb-1">
{% endif %}
<!-- sequence_item -->

  {{ field.serialize(cstruct) }}

{% if loop_index is defined %}
    {% if not field.widget.hidden and loop_index > min_len %}
        <button class="btn btn-default btn-xs">
            <span class="deform-close-button glyphicon glyphicon-remove" id="{{ field.oid }}-close" title="Remove"
                  onclick="javascript:deform.removeSequenceItem(this);"></span>
        </button>
    {% endif %}
{% else %}
    {% if not field.widget.hidden %}
        <button class="btn btn-default btn-xs">
            <span class="deform-close-button glyphicon glyphicon-remove" id="{{ field.oid }}-close" title="Remove"
                  onclick="javascript:deform.removeSequenceItem(this);"></span>
        </button>
    {% endif %}
{% endif %}
  <!-- /sequence_item -->
{% if not field.widget.hidden %}
</div>
{% endif %}
