<select name="{{ field.name }}"
        id="{{ field.oid }}"
        class="form-control {% if field.error %}form-control-danger{% endif %}"
        {% if field.widget.multiple %}
          multiple
        {% endif %}
>
 {% for value, description in field.widget.values %}
 <option
        {% if value|string == cstruct %}
            selected="selected"
        {% endif %}
        value="{{ value }}">{{ description }}</option>
{% endfor %}
</select>
